name: Python application

on:
  push:


permissions:
  contents: read

jobs:
  integration-test:
    services:
      web:
        image: shop_app
        ports:
          - 5000:5000
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Test
        run: |
          pytest --cov=shop_app tests/integration
