name: Pylint

on:
  push:


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    services:
      web:
        image: ghcr.io/philipthorn/devops_cicd_final
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.MY_SECRET_TOKEN }}

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi


    - name: Analysing the code with pylint
      run: |
        pylint --errors-only $(git ls-files '*.py')
        pytest --cov=shop_app tests/unit/

    - name: Test with pytest
      run: |
        python3 -m pytest tests/unit/

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to ghcr
      uses: docker/login-action@v2
      with:
          registry: ghcr.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.MY_SECRET_TOKEN }}

    - name: Run integration tests with coverage
      run:  |
        pytest --cov=shop_app tests/integration

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: ghcr.io/devops_cicd_final/shop_app:${{ steps.condval.outputs.value }}
